body{
	padding: 20px;
}

.cover {
	float: left;
}
.prezenta {
	margin-top:5px;
}

.side {
	border-right: thin solid #ccc;
}

.profile{
	display: none;
}

.content .profile {
	display: block;
}

.profile a{
	background: white;
	width: 200px;
	display: inline-block;
	/*float: left;*/
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}

.profile a.prezent{
	background: #cfc;
}

.profile a:after{
color: #333;
	font-size: 12px;
	content: attr(title);
	position: relative;
	top:15px;
}

.profile img { 
	display: block; 
	margin: 0 auto;
	max-width: 200px; 
	height: inherit;
}